div{
  box-sizing: border-box;
}

p{
  text-indent: 10%;
}

h1, h3 {
  text-align: center;
}

h4{
  margin: -10px 0;
}

.section-1{
  margin: 0 auto;
  width: 90%;
}

.section-1 div{
  padding:  10px;
/* width: 33.33%;
  float: left; */

}

@media only screen and (min-width: 1024px) {
  .section-1 div{
    padding:  10px;
    width: 33.33%;
    float: left;
  }

}

body:after{
  content: "less 320px";
  font-size: 300%;
  font-size: bold;
  position: fixed;
  bottom: 100px;
  width: 100%;
  text-align: center;

  color: #fff;
}

@media only screen and (min-width: 320px) {
  body:after{
    content: "320 to 480px";
    background-color: hsla(90, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 480px) {
  body:after{
    content: "480 to 768px";
    background-color: hsla(180, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 768px) {
  body:after{
    content: "768 to 1024px";
    background-color: hsla(270, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 1024px) {
  body:after{
    content: "1024 and up";
    background-color: hsla(360, 60%, 40%, 0.7);
  }
}
